<!DOCTYPE html>
<html lang="en">

<%- include('./Partials/head.ejs') %>

<body>

    <%- include('./Partials/HomeNav.ejs') %>

    <!-- Error Page -->
    <div class="pt-5" style="text-align: center; letter-spacing: 1rem;">
        <div class="pt-5" id="top">Oops!</div>
        <div id="middle">404</div>
        <div id="bottom">Sorry, couldn't find what you're looking for!</div>

        <%- include('./Partials/BackHomeButton.ejs') %>

    </div>

    

    <!-- Error Page -->

    


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>