<!DOCTYPE html>
<html lang="en">

<%- include('./Partials/head.ejs') %>

<body>

    <%- include('./Partials/HomeNav.ejs') %>

    <section id="content-wrapper">
        <main role="main" class="pt-5 main">
            <div class="header text-center pt-5 pt-lg-4">
                <h1>WELCOME TO<span style="color: orangered;"> HYPOTHETICAL X COLLEGE</span></h1>
            </div>

            <hr>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="card card-body"
                            style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> LOGIN</h1>
                            <!-- Login buttons for homepage -->
                            <button class="btn btn-danger btn-block" onclick="location.href = '/admin/login'">
                                <a style="color: rgb(241, 238, 238);">ADMIN LOGIN</a>
                            </button>
                            <br>
                            <button class="btn btn-secondary btn-block" onclick="location.href = '/staff/login'">
                                <a style="color: rgb(245, 237, 237);">STAFF LOGIN</a>
                            </button>
                            <br>
                            <button class="btn btn-primary btn-block" onclick="location.href = '/student/login'">
                                <a style="color: rgb(240, 232, 232);">STUDENT LOGIN</a>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>