<!DOCTYPE html>
<html lang="en">

<%- include('./Partials/head.ejs') %>

<body>

    <%- include('./Partials/HomeNav.ejs') %>

    <div class="container" style="vertical-align: center; padding-top: 30vh; height: 100%;">
        <div class="row">
            <div class="col-md-6">
                <h3 style="font-size: xx-large;">Welcome to HYPOTHETICAL X COLLEGE</h3>
                <p style="font-size: large;">This SMS provides complete functionality to manage
                    enrollment, students, faculty,
                    attendance, scheduling, assignments and grades.</p>
                <a href="/index" class="btn btn-success">Login</a>
            </div>
            
            <div class="col-md-6 pt-2" style="padding-left: 10vw;">
                <img style="max-width: 95%;" src="/images/grad.jpg" alt="image">
            </div>
        </div>
    </div>

    <footer class="container" style="align-items: center; padding-top: 17vh; text-align: center;">
        <p>Copyright © SMS -Abiola <span style="color: #5192ac;"> All Rights Reserved</span></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>